<div class="jumbotron">
  <h2><%= gettext "Caesar Cipher" %></h2>
  <div id="output"></div>
</div>
<div class="center">
Text to encode: <input id="cipher-text-input" type="text"></input>
Shift: <input id="cipher-shift-input" type="text"></input>
</div>
